<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta charset="UTF-8">
<title>Easy Image Generator "Get Text Image data with various fonts and multiple image file download from google search"</title>
<meta name="description" content="">
<meta name="robots" content="index, follow">
<link rel="icon" href="">
<link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
<link rel="stylesheet" media="all" href="assets/css/style.css">
<link rel="stylesheet" media="all" href="assets/css/login.css">
<script src="assets/js/jquery.js" type="text/javascript"></script>
<script src="assets/js/index.js" type="text/javascript"></script>
<script src="assets/js/message.js" type="text/javascript"></script>
<script src="assets/js/feedback.js" type="text/javascript"></script>
<script src="assets/js/mg.js" type="text/javascript"></script>
</head>
<body>

<script type="text/javascript">

</script>
    <div class="main top-page">
        <div id="container">
            <div class="content">
		            <h1 class="h1_top">jfra URL Shorter Generator</h1>
		            <p class="sub_ttl_top">"Get Text Image data with various fonts and<br>multiple image google search"</p>
				<h2>Ooops!</h2>
	                <% if(message=="1"){ %>
						<h3>unknown error... please login and try again.</h3>
	                <% }else{ %>
						<h3><%- message %></h3>
	                <% } %>
				<button ><a style="color:#fff" href="/">Go to top page</a></button>
			</div>
		</div>
	</div>

</body>
</html>